<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silk Road Travler</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<header>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" id="searchingbutton"
        style="height:100px; position:absolute;top:5px;left:4px; cursor:pointer;" onclick="window.location='/'">

    <a href="/" style="text-decoration: none;color:white;">
        <h1 style="margin-bottom: 5px;">The Silk Road Traveler</h1>
    </a>
    <nav>
        <a href="/cluster_info">Cluster</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/up_searching">검색어</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/recommend_cluster">맞춤</a>
    </nav>
    <h5 style="top:60px;right:200px;position:absolute;">{{ welcome_message }}</h5>

    {% if welcome_message.startswith('어서오세요') %}
    <img src="{{ url_for('static', filename='logout_image.png') }}"
        style="height:30px; cursor:pointer;position:absolute;top:75px;right:165px;" onclick="window.location='/logout'">
    {% else %}
    <img src="{{ url_for('static', filename='login_image.png') }}"
        style="height:30px; cursor:pointer;position:absolute;top:75px;right:160px;" onclick="window.location='/login'">
    {% endif %}
    <img src="{{ url_for('static', filename='user_info.png') }}" alt="Logo" id="searchingbutton"
        style="height:35px; position:absolute; top:72px; right:120px; cursor:pointer;z-index: 2;"
        onclick="window.location='/user_like'">
    <img src="{{ url_for('static', filename='starimage.png') }}" alt="Logo" id="searchingbutton"
        style="height:35px; position:absolute; top:72px; right:80px; cursor:pointer;z-index: 2;"
        onclick="window.location='/user_info'">
</header>

<body>
    <div class="container6" style="height:800px;text-align: center;">
        <h2 align='center' style="margin-bottom: 0;">전체 Cluster 분포</h2>
        <img src="data:image/png;base64,{{ map }}" alt="Cluster Plot" style="width:1000px;height:600px;">
        <hr>
        <div style="height:fit-content;">
            <h4>Clusters</h4>
            <table border="4" id="citiesTable"></table>
        </div>
    </div>
</body>

<script>
    const table = document.getElementById('citiesTable');

    let row;
    for (let i = 0; i <= 999; i++) {
        if (i % 20 === 0) {
            row = table.insertRow();
        }
        const cell = row.insertCell();
        cell.style.height = '30px';
        const link = document.createElement('a');
        link.href = `/cluster/${i}`;
        link.textContent = i;
        cell.appendChild(link);
    }

</script>


<footer>
    <p>&copy; 2024 Term Project &nbsp;&nbsp;&nbsp;Silk Road Traveler</p>
</footer>



</html>